@charset "UTF-8";
/* Proměnné */
/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*Základ*/
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

h2 {
  color: #ff5d8f;
  margin: none;
}

.heading {
  padding-left: 20px;
  font-weight: 700;
  font-size: 40px;
}
@media screen and (min-width: 500px) {
  .heading {
    text-align: center;
    padding-left: 0;
  }
}

section {
  padding: 0 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

@media screen and (min-width: 1100px) {
  .paragraph {
    max-width: 1100px;
    margin: 40px auto;
  }
}

/*Hlavička*/
.menu {
  background-color: #ff5d8f;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .menu {
    display: flex;
  }
}
.menu__list {
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width: 500px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1100px) {
  .menu__list {
    max-width: 1100px;
  }
}
.menu__item {
  border-bottom: 1px solid #ff97b7;
}
.menu__item:hover {
  background-color: #ff97b7;
}
@media screen and (min-width: 500px) {
  .menu__item {
    border-bottom: none;
  }
}
.menu__link {
  padding: 20px 10px;
  text-decoration: none;
  color: #fffcf9;
  display: block;
}

/*Hero sekce hlavní banner*/
@media screen and (min-width: 500px) {
  .hero {
    background-image: url(/images/cover-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 120px;
  }
}
.hero__input {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 500px) {
  .hero__input {
    padding-left: 50%;
    padding-right: 40px;
  }
}
.hero__heading {
  color: #ff5d8f;
}

/*Patička*/
.paticka {
  background-color: #ff97b7;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .paticka {
    display: flex;
  }
}
.paticka__list {
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width: 500px) {
  .paticka__list {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.paticka__item {
  border-bottom: 1px solid #ff97b7;
}
.paticka__item:hover {
  background-color: #ff5d8f;
}
@media screen and (min-width: 500px) {
  .paticka__item {
    border-bottom: none;
  }
}
.paticka__link {
  padding: 20px 10px;
  text-decoration: none;
  color: #fffcf9;
  display: block;
}

/*stránka Kontakt*/
@media screen and (min-width: 1100px) {
  .contact {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
}
.contact__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .contact__item {
    flex-direction: row;
  }
}
.contact__image {
  max-width: 100px;
  background-color: #ff5d8f;
  border-radius: 50%;
  fill: #fffcf9;
  padding: 10px;
  margin: 40px auto;
}
.contact__action {
  margin: auto;
}
@media screen and (min-width: 1100px) {
  .contact__action {
    margin-left: 40px;
  }
}

/*Sekce highlight ikonky co facejóga přinese*/
.highlight {
  background-color: #fffcf9;
  padding: 20px;
}
.highlight h2 {
  display: block;
}
@media screen and (min-width: 1100px) {
  .highlight h2 {
    max-width: 1100px;
    margin: 40px auto;
  }
}

@media screen and (min-width: 500px) {
  .benefits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1100px) {
  .benefits {
    max-width: 1100px;
    margin: 40px auto;
  }
}
.benefits__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 500px) {
  .benefits__container {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .benefits__container {
    flex-basis: calc(100% / 3);
  }
}
.benefits__item {
  align-items: center;
  background-color: #ff97b7;
  border-radius: 50%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 20px;
  color: white;
  font-weight: bold;
}

/*Reference*/
@media screen and (min-width: 1100px) {
  .reference {
    max-width: 1100px;
    margin: 40px auto;
  }
}
.reference__text {
  line-height: 30px;
}

/*button*/
.button {
  background-color: #ff5d8f;
  padding: 20px;
  width: 150px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.button:hover {
  background-color: #ff97b7;
}
.button__action {
  text-decoration: none;
  color: #fffcf9;
  font-weight: bold;
}

/*Hlavní sekce obrázek vedle textů a obráceně*/
@media screen and (min-width: 500px) {
  .card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1100px) {
  .card {
    max-width: 1100px;
    margin: 80px auto;
  }
}
.card__photo {
  width: 100%;
  border-radius: 5px;
}
@media screen and (min-width: 500px) {
  .card__photo {
    flex-basis: calc(50% - 40px);
    margin-right: 40px;
  }
}
.card__photo--reverse {
  width: 100%;
  border-radius: 5px;
}
@media screen and (min-width: 500px) {
  .card__photo--reverse {
    flex-basis: calc(50% - 40px);
    margin-left: 40px;
    order: 2;
  }
}
.card__image {
  border-radius: 50%;
  width: 100%;
}
@media screen and (min-width: 500px) {
  .card__image {
    flex-basis: calc(50% - 40px);
    margin-right: 40px;
  }
}
@media screen and (min-width: 500px) {
  .card__info {
    flex-basis: calc(50% - 40px);
    margin-left: 40px;
  }
}
@media screen and (min-width: 500px) {
  .card__info--reverse {
    flex-basis: calc(50% - 40px);
    margin-right: 40px;
    order: 1;
  }
}
.card__text {
  line-height: 30px;
}/*# sourceMappingURL=style.css.map */