@use 'variables';
/*Patička*/

.paticka {
  background-color: variables.$secondary;
  text-align: center;
  @media screen and (min-width: 500px) {
    display: flex;
  }
  &__list {
    list-style: none;
    padding-left: 0;
    @media screen and (min-width: 500px) {
      display: flex;
      justify-content: space-between;
      margin: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__item {
    border-bottom: 1px solid variables.$secondary;
    &:hover {
      background-color: variables.$primary;
    }
    @media screen and (min-width: 500px) {
      border-bottom: none;
    }
  }
  &__link {
    padding: variables.$spacer/2 10px;
    text-decoration: none;
    color: variables.$contrast;
    display: block;
  }
}
