@use 'variables';
/*Sekce highlight ikonky co facejóga přinese*/
.highlight {
  background-color: variables.$contrast;
  padding: variables.$spacer/2;

  h2 {
    display: block;
    @media screen and (min-width: 1100px) {
      max-width: 1100px;
      margin: variables.$spacer auto;
    }
  }
}
.benefits {
  @media screen and (min-width: 500px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1100px) {
    max-width: 1100px;
    margin: variables.$spacer auto;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 500px) {
      flex-basis: 50%;
    }
    @media screen and (min-width: 1100px) {
      flex-basis: calc(100% / 3);
    }
  }

  &__item {
    align-items: center;
    background-color: variables.$secondary;
    border-radius: 50%;
    width: min-content;
    padding: variables.$spacer/2;
    color: white;
    font-weight: bold;
  }
}
