/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/* Proměnné */
$primary: #ff5d8f;
$secondary: #ff97b7;
$contrast: #fffcf9;
$font-base: "Nunito", sans-serif; //fonty
$spacer: 30px;

/*Základ*/
body {
  font-family: $font-base;
  margin: 0;
}

h2 {
  color: $primary;
  margin: none;
}

section {
  padding: 0 $spacer/2;
  margin-bottom: $spacer;
}

/*Hlavička*/
.menu {
  background-color: $primary;
  text-align: center;

  @media screen and (min-width: 500px) {
    display: flex;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    @media screen and (min-width: 500px) {
      display: flex;
      justify-content: space-between;
      margin-left: 25%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__item {
    padding: $spacer/2 10px;
    border-bottom: 1px solid $secondary;
    &:hover {
      background-color: $secondary;
    }
    @media screen and (min-width: 500px) {
      border-bottom: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $contrast;
    display: block;
  }
}

/*Hero sekce hlavní banner*/
.hero {
  @media screen and (min-width: 500px) {
    background-image: url(/images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: min-content;
    padding: $spacer * 3;

    &__input {
      @media screen and (min-width: 500px) {
        padding-left: 50%;
        padding-right: $spacer;
      }
      h1 {
        color: $primary;
      }
    }
  }
}

/*Sekce highlight*/
.highlight {
  background-color: $contrast;
  padding: $spacer/2;

  h2 {
    display: block;
  }
}
.benefits {
  @media screen and (min-width: 500px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 500px) {
      flex-basis: 50%;
    }
  }

  &__item {
    align-items: center;
    background-color: $secondary;
    border-radius: 50%;
    width: min-content;
    padding: $spacer/2;
    color: white;
    font-weight: bold;
  }
}

/*button*/
.button {
  background-color: $primary;
  padding: $spacer/2;
  width: 50%;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  margin-bottom: $spacer;
  &:hover {
    background-color: $secondary;
  }

  &__action {
    text-decoration: none;
    color: $contrast;
    font-weight: bold;
  }
}

/*Patička*/

.paticka {
  background-color: $secondary;
  text-align: center;

  @media screen and (min-width: 500px) {
    display: flex;
  }
  &__list {
    list-style: none;
    padding-left: 0;
    @media screen and (min-width: 500px) {
      display: flex;
      justify-content: space-between;
      margin: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__item {
    padding: $spacer/2 10px;
    border-bottom: 1px solid $secondary;
    &:hover {
      background-color: $primary;
    }
    @media screen and (min-width: 500px) {
      border-bottom: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $contrast;
    display: block;
  }
}
