<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Margarita Faceyoga</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navigace-->
    <header>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="/" class="menu__link"> Margarita Faceyoga</a>
          </li>
          <li class="menu__item">
            <a href="/o-mne/" class="menu__link">O mně</a>
          </li>
          <li class="menu__item">
            <a href="/kurzy/" class="menu__link">Nabídka lekcí</a>
          </li>
          <li class="menu__item">
            <a href="/reference/" class="menu__link"> Reference</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Obličejová jóga</a>
          </li>
          <li class="menu__item">
            <a href="/kontakt/" class="menu__link"> Kontakt</a>
          </li>
        </ul>
      </nav>
    </header>

    {{ content | safe }}

    <!--Patička-->
    <footer>
      <nav class="paticka">
        <ul class="paticka__list">
          <li class="paticka__item">
            <a href="#" class="paticka__link"> Margarita Faceyoga</a>
          </li>
          <li class="paticka__item">
            <a href="/o-mne/" class="paticka__link">O mně</a>
          </li>
          <li class="paticka__item">
            <a href="/kurzy/" class="paticka__link">Nabídka lekcí</a>
          </li>
          <li class="paticka__item">
            <a href="/reference/" class="paticka__link"> Reference</a>
          </li>
          <li class="paticka__item">
            <a href="#" class="paticka__link">Obličejová jóga</a>
          </li>
          <li class="paticka__item">
            <a href="/kontakt/" class="paticka__link"> Kontakt</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
